<!-- Footer -->
  <div class="footer text-muted">
      &copy; 2022. <span   class="info">Money App</span>  <span target="_blank"  class="info"></span>
  </div>
 <!-- /footer -->
 <script>
		setTimeout(() => {
        $(".alert").fadeOut('slow');
       },2000);
	</script>

